.label {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
.title {
    width: 100%;
    max-width: 30%;
}
.input {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
}
