.section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}
.statusText {
    text-align: center;
    color: #fff;
}

.modalButton {
    display: flex;
    cursor: pointer;
    justify-content: center;
    text-transform: capitalize;
    padding: 0.7rem 1.3rem;
    background-color: green;
    color: #fff;
    opacity: 1;
    border: 2px solid transparent;
    border-radius: 4px;
    outline: none;
}

.modalButton:hover {
    background-color: #fff;
    border-color: green;
    color: green;
}

.modalButton:active {
    opacity: 0.67;
}

@media (min-width: 992px) {
    .statusText {
        color: #000;
    }
}
