html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
.bulk {
    flex-grow: 1;
}
* {
    box-sizing: border-box;
}
button {
    transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (min-width: 1px) {
    body {
        background-color: #293048;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    body {
        background-color: #fff;
    }
}

@media (min-width: 1200px) {
}

@media (max-width: 600px) {
}
