@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-sky-800 text-white p-0 my-0 mx-auto font-Montserrat;
    }
    @font-face {
        font-family: "Montserrat";
        font-weight: 100;
        src: url("/fonts/Montserrat-Thin.ttf");
    }
    @font-face {
        font-family: "Montserrat";
        font-weight: 300;
        src: url("/fonts/Montserrat-Light.ttf");
    }

    @font-face {
        font-family: "Montserrat";
        font-weight: 400;
        src: url("/fonts/Montserrat-Regular.ttf");
    }

    @font-face {
        font-family: "Montserrat";
        font-weight: 500;
        src: url("/fonts/Montserrat-Medium.ttf");
    }

    @font-face {
        font-family: "Montserrat";
        font-weight: 700;
        src: url("/fonts/Montserrat-Bold.ttf");
    }
}

@layer components {
    .bulk {
        @apply flex-grow;
    }
}

#__next {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
}
button {
    transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
        border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.title {
    color: #fff;
}
