.header {
    display: flex;
    padding: 1rem 2rem;
    background-color: #293048;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.circleActive {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: green;
}
.circleInActive {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: red;
}

@media (min-width: 576px) {
    .header {
        display: none;
    }
}
@media (min-width: 992px) {
    .header {
        display: flex;
    }
}
