.main {
    padding: 1rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    color: #fff;
}
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.label {
    display: flex;
    justify-content: space-between;
}
.label:not(:last-child) {
    margin: 0 0 1rem 0;
}
.label span {
    margin: 0 1rem 0 0;
}
